{% extends "html.twig" %}
{% set title = "admin" %}

{% set admin_pages = [
  { 
    "route": "./server-management",
    "icon": "hdd-network",
    "name": "server management",
    "perms": ENUM.priveleges.owner,
    "desc": "shutdown, restart, etc"
  },
  { 
    "route": "./asset-creation",
    "icon": "box-seam",
    "name": "asset creation",
    "perms": ENUM.priveleges.assetcreator,
    "desc": "create shirts, pants, hats, faces and so on"
  },
  { 
    "route": "./asset-moderation",
    "icon": "boxes",
    "name": "asset moderation",
    "perms": ENUM.priveleges.assetmod,
    "desc": "moderate assets made by users"
  },
  { 
    "route": "./invite-keys",
    "icon": "key",
    "name": "invite keys",
    "perms": ENUM.priveleges.admin,
    "desc": "check, make and delete invite keys"
  }
] %}
{% set admin_pages = admin_pages|sort %}

{% block content %}
<div class="d-flex flex-row ai-center gap-3 mb-3">
  <h3 class="card card-primary px-3 py-2 flex-1">admin panel</h3>
  {% if cuser.is_owner %}
  <a href="./debug" class="btn-primary d-flex flex-row gap-4 ai-center ms-auto">
    <h3 class="bi bi-wrench"></h3><b>DEBUG</b>
  </a>
  {% endif %}
</div>
<div class="d-flex flex-row flex-wrap-reverse flex-shrink-1 gap-3 mb-3">
  <div class="flex-1" style="flex-basis: 42.5em;">
    <div class="d-grid gap-3" style="grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));">
      {% for a in admin_pages %}
      <a class="btn-primary card d-flex flex-column gap-2 card-primary p-4" href="{{ a.route }}">
        <div class="d-flex flex-row ai-center gap-3"><h3 class="bi bi-{{ a.icon }}"></h3><h3 nobold>{{ a.name }}</h3></div>
        <div class="text-muted">{{ a.desc }}</div>
      </a>{% endfor %}
    </div>
  </div>
  <div class="p-2" style="flex-basis: 20em; flex-grow: 1;">
    <h4>instance "{{ env.app_name }}" info:</h4>
    <hr nomargin class="mt-1 mb-2">
    <div class="d-flex flex-column gap-3">
    {% if inited %}
      <span><i class="bi bi-hdd-network"></i> {{ user.name }}<span class="text-extramuted">@</span>{{ host.name }}, {{ host.ip }}</span>
      <span><i class="bi bi-cpu"></i> {{ cpu.brand }}, {{ cpu.usage }}, {{ cpu.temp }}</span>
      <span><i class="bi bi-memory"></i> {{ ram.used }}<span class="text-extramuted">/</span>{{ ram.total }}</span>
      {% for name, size in folders %}
      <span><i class="bi bi-folder"></i> <span>{{ name }}</span> <span>{{ size }}</span></span>
      {% endfor %}
    {% else %}
      data hasn't initialized yet..
    {% endif %}
    </div>
</div>
{% endblock %}