<a class="d-flex flex-row gap-3" href="/games/?q={{ query|url_encode }}"><span class="text-truncate">{{ query|e }}</span><span class="text-extramuted" style="flex-shrink: 0;"> in games</span></a>
<a class="d-flex flex-row gap-3" href="/users/?q={{ query|url_encode }}"><span class="text-truncate">{{ query|e }}</span><span class="text-extramuted" style="flex-shrink: 0;"> in users</span></a>
<a class="d-flex flex-row gap-3" href="/catalog/?q={{ query|url_encode }}"><span class="text-truncate">{{ query|e }}</span><span class="text-extramuted" style="flex-shrink: 0;"> in catalog</span></a>
<a class="d-flex flex-row gap-3" href="/library/?q={{ query|url_encode }}"><span class="text-truncate">{{ query|e }}</span><span class="text-extramuted" style="flex-shrink: 0;"> in library</span></a>