{% if tab == "avatar" %}
  <div class="d-flex flex-wrap flex-row border-light-1 round-4" style="overflow: hidden">
    <div class="d-flex flex-column gap-2 flex-1 p-3 px-4 card shadowless" style="border-radius: 0; flex-basis: 20em;">
      <h3 class="mb-2">avatar</h3>
      <div class="d-flex w-100 pos-relative">
        <img class="mx-auto round-4" height=256 width=256 src="{{ user.get_fullbody() }}">
      </div>
      <div class="text-center mt-3">{{ user.description|length == 0 ? '<i class="text-muted">no description</i>' : user.description|e }}</div>
    </div>
  
    <div class="d-flex flex-column gap-2 flex-1 p-3 px-4 card shadowless card-primary" style="border-radius: 0; flex-basis: 20em;">
      <h3 class="mb-2">items</h3>
      {% if user_equipped_items.items|length != 0 %}
      <div class="d-grid gap-4" style="grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));">
        {% for item in user_equipped_items.items %}
          <a href="/catalog/{{ item.id }}/view">
            <img class="round-4 w-100" title="{{ item.title|e }}" src="{{ item.get_icon() }}">
          </a>
        {% endfor %}
      </div>
      {% else %}
      <div class="d-flex flex-column ai-center my-auto gap-2 p-3">
        <h1 style="font-size: 4em;" class="bi bi-egg-fried"></h1>
        <h4>no items equipped</h4>
        <small class="text-muted">they're naked!</small>
      </div>
      {% endif %}
    </div>
  </div>
{% elseif tab == "games" %}
  <h3 class="mb-2">games</h3>
  {% if user_games.items|length != 0 %}
  <div class="d-grid gap-4" style="grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));">
    {% for game in user_games.items %}
      {% include '/components/game_default.twig' with {game: game} %}
    {% endfor %}
  </div>
  {% else %}
  <div class="d-flex flex-column ai-center gap-2 p-3">
    <h1 style="font-size: 4em;" class="bi bi-egg-fried"></h1>
    <h4>no games found</h4>
    <small class="text-muted">you could make your own game!</small>
  </div>
  {% endif %}
{% elseif tab == "items" %}
  <h3 class="mb-2">items</h3>
  {% if user_items.items|length != 0 %}
  <div class="d-grid gap-4" style="grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));">
    {% for item in user_items.items %}
      {% include '/components/item_default.twig' with {item: item} %}
    {% endfor %}
  </div>
  {% else %}
  <div class="d-flex flex-column ai-center gap-2 p-3">
    <h1 style="font-size: 4em;" class="bi bi-egg-fried"></h1>
    <h4>no items found</h4>
    <small class="text-muted">pooron.. jk</small>
  </div>
  {% endif %}
{% elseif tab == "groups" %}
  <h3 class="mb-2">groups</h3>
  <div>no implementation</div>
{% elseif tab == "css" %}
  <h3 class="mb-2">CSS</h3>
  {% if user.settings.css|length != 0 %}
  <textarea class="w-100" rows=8 style="white-space: pre-wrap;"readonly>{{ user.settings.css }}
  </textarea>
  {% else %}
  <div class="d-flex flex-column ai-center gap-2 p-3">
    <h1 style="font-size: 4em;" class="bi bi-egg-fried"></h1>
    <h4>no CSS for u</h4>
    <small class="text-muted">terrible day to be a skid..</small>
  </div>
  {% endif %}
{% elseif tab == "bans" %}
  <h3 class="mb-2">bans [WIP]</h3>
  {% if bans.info.items|length != 0 %}
  <div class="d-grid gap-4" style="grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));">
  {% for ban in bans.info.items %}
    <div class="d-flex flex-column gap-2 card border-light-1">
      <div class="d-flex flex-row gap-2">
        {% if ban.is_banned %}<h3 class="bi bi-check-lg"></h3>{% endif %}
        <h3>{% if item.length == -1 %}warning{% else %}banned{% endif %}</h3>
      </div>
      <div>{{ ban.reason }}</div>
    </div>
  {% endfor %}
  </div>
  {% else %}
  <div class="d-flex flex-column ai-center gap-2 p-3">
    <h1 style="font-size: 4em;" class="bi bi-egg-fried"></h1>
    <h4>no history found</h4>
    <small class="text-muted">good.</small>
  </div>
  {% endif %}
{% endif %}