{% extends "html.twig" %}
{% set title = game.title %}

{% block content %}
<div class="d-flex flex-row gap-5 flex-wrap">
  <div class="flex-1" style="flex-basis: 32em; flex-shrink: 1;"><img src="/assets/img/crossroads16x9.png" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain; aspect-ratio: 16/9;"></div>
  <div class="flex-1 d-flex flex-column gap-1" style="flex-basis: 12em; flex-grow: 2;">
    <h1>{{ game.title }}</h1>
    <span class="mb-3">by <a class="link-light" href="/users/{{ game.user.id }}/profile">{{ game.user.username }}</a></span>
    <a href="/game/{{ game.id }}/play" class="d-flex jc-center ai-center btn-play p-1 mt-auto"><i class="bi bi-play-fill m-auto" style="font-size: 2.5em; line-height: 0.65em;"></i></a>
  </div>
</div>
<div class="d-flex flex-column mt-3 gap-3">
  <div id="tabs" hx-target="#tab-content" role="tablist" class="d-flex flex-row pillify flex-wrap"
    hx-on:htmx-after-on-load="htmx_tabs(this, event)">
    <button class="flex-1 text-center" role="tab" aria-controls="tab-contents" hx-get="/game/{{ game.id }}/about" disabled>about</button>
    <button class="flex-1 text-center" role="tab" aria-controls="tab-contents" hx-get="/game/{{ game.id }}/store">store</button>
    <button class="flex-1 text-center" role="tab" aria-controls="tab-contents" hx-get="/game/{{ game.id }}/servers">servers</button>
  </div>
  <hr nomargin>
  <div id="tab-content" role="tabpanel" hx-get="/game/{{ game.id }}/about" hx-trigger="revealed"></div>
</div>
{% endblock %}