{% extends "html.twig" %}
{% set title = "games" %}

{% block content %}
{% import "./_macros.twig" as utils %}
<div class="d-flex flex-column gap-1">
<div class="d-flex flex-row flex-wrap ai-center gap-3">
  <h2>{{ t.games.games }}</h2>
  <div class="d-flex flex-row flex-wrap gap-2 ms-auto w-autoto100-sm">
  {% include '/components/pagination.twig' with {params: req.query, page: page, queries: queries, totalpages: total_pages, classes: "jc-center"} %}
  <div class="d-flex flex-row pillify flex-grow-1">
  <input name="q" class="w-100" placeholder="{{ t.games.search }}" value="{{ req.query.q }}" onkeydown="search_onkeyup(this)" id="game-search" type="search">
  <button class="mx-1" onclick="search_onkeyup($('#game-search'), true)"><h5 class="bi bi-search"></h5></button>
  </div>
  <div class="pos-relative">
    <button onclick="dropdownify(this, $('#filterresults'));"><h4 class="bi bi-filter"></h4></button>
    <div class="pos-absolute dropdownify mt-1 card d-flex flex-column gap-3" style="width: 14em; z-index: 2;" id="filterresults">
      <a href="?{{ query_remove_key(req.query, "order") }}order=ASC">{{ t.filter.order_by_ascending }}</a>
      <a href="?{{ query_remove_key(req.query, "order") }}order=DESC">{{ t.filter.order_by_descending }}</a>
      <hr class="mt-1 mb-1">
      <a href="?{{ query_remove_key(req.query, "sort") }}sort=id">{{ t.filter.sort_by_id }}</a>
      <a href="?{{ query_remove_key(req.query, "sort") }}sort=title">{{ t.filter.sort_by_title }}</a>
      <a href="?{{ query_remove_key(req.query, "sort") }}sort=description">{{ t.filter.sort_by_description }}</a>
      <a href="?{{ query_remove_key(req.query, "sort") }}sort=updatedat">{{ t.filter.sort_by_updated }}</a>
      <a href="?{{ query_remove_key(req.query, "sort") }}sort=createdat">{{ t.filter.sort_by_created }}</a>
    </div>
  </div>
  </div>
</div>
<hr class="mt-3 mb-2">
{% if items|length == 0 %}
  <div class="d-flex flex-column ai-center gap-2 p-3">
  <h1 style="font-size: 4em;" class="bi bi-egg-fried"></h1>
  <h4>no games found</h4>
  <small class="text-muted">heres a fried egg for you</small>
  </div>
{% else %}
  <div class="d-grid gap-4" style="grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));">
    {% for game in items %}
      {% include '/components/game_default.twig' with {game: game} %}
    {% endfor %}
  </div>
{% endif %}
</div>
{% endblock %}