    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/core.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-icons.min.css">
    <link rel="icon" type="image/png" href="/assets/img/logo-t_64.png">
    <meta property="og:site_name" content="{{ env.app_name }}">
    <meta property="og:image" content="/assets/img/logo-t_64.png" />
    <meta content="{{ title ?? pagename }}" property="og:title">
    <meta content="{{ env.desc }}" property="og:description">
    <meta name="theme-color" content="#650fde">
    <script src="/assets/js/core_legacy.js"></script>
    <script src="/assets/js/core.js"></script>
    <script src="/assets/js/htmx.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/client-side-templates.js"></script>
    <script src="/assets/js/nunjucks.js"></script>
    <script src="/assets/js/hyperscript.js"></script>
    <script defer src="/assets/js/alpine.js"></script>
    <title>{{ title ?? req.path }} | {{ env['app_name'] }}</title>