{% extends "html.twig" %}
{% set title = "home" %}

{% block content %}
{% set randomhis = [
"hello", "hola", "bonjour", "hallo", "ciao", "olá", "hallo", "здравствуйте", "你好", "こんにちは", "안녕하세요", "مرحباً", "नमस्ते", "jambo", "merhaba", "γειά σας", "שלום", "hej", "hei", "hei", "hej", "cześć", "helló", "xin chào", "สวัสดี", "سلام", "salut", "ahoj", "নমস্কার", "привіт", "kumusta", "hai", "dia dhuit", "halò", "halló", "labas", "tere", "bok", "здравейте", "здраво", "hello", "ahoj", "sveiki", "გამარჯობა", "नमस्ते", "բարև", "ہیلو", "bawo ni", "sawubona", "helo",
] %}
{% set randomhi = randomhis|shuffle[0] %}
<div class="d-flex flex-row flex-wrap gap-5" style="align-content: flex-start;">

  <div class="d-flex flex-column gap-3 flex-1" style="flex-basis: 14em;">
    <div class="d-flex flex-row gap-6 ai-center">
      <div class="pos-relative">
        <img class="round-4" height=96 width=96 src="{{ cuser.get_headshot() }}">
        {% if cuser.is_online %}<i class="pos-absolute icon-online bottom-0 right-0 p-2" style="transform: translate(25%, 25%);"></i>{% endif %}
      </div>
    <h2>{{ randomhi }}, {{ cuser.username }}</h2>
    </div>
    <hr class="my-2">
    <div class="d-flex flex-row gap-5"><h3>{{ t.home.friends }} ({{ friends|length }})</h3> <a class="btn-primary ms-auto as-baseline">{{ t.home.see_all }}</a></div>
      {% if friends|length == 0 %}
      <div class="d-flex flex-column ai-center gap-2 p-2">
        <h1 style="font-size: 4em;" class="bi bi-egg-fried"></h1>
        <h4>no friends found</h4>
        <small class="text-muted">heres a fried egg for you</small>
      </div>
    {% else %}
      <div class="d-grid gap-4" style="grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));">
      {% for friend in friends %}
        <a href="/users/{{ friend.id }}/profile" class="d-flex flex-column" style="align-items: center; padding: 0; margin-top: 0.3em;">
          <div class="img-fluid pos-relative">
            <img src="{{ friend.get_headshot() }}" class="round-4 img-fluid">
            {% if friend.is_online %}<i class="pos-absolute icon-online bottom-0 right-0" style="transform: translate(25%, 25%);"></i>{% endif %}
          </div>
          <div class="d-flex flex-column border-box m-1 my-0 text-center"><h5 class="text-muted text-truncate">{{ friend.username|truncate(11, "…") }}</h5>
          {#<small class="text-extramuted mt-1 s"><b class="breakword">{{ "something"|truncate(11, "…") }}</b></small>#} {# to implement #}</div>
        </a>
      {% endfor %}
      </div>
    {% endif %}
    <hr class="my-2">
    <div class="tablet-hide">
      <h3>changelog</h3>
      nothing rn
      <hr class="mb-2 mt-4">
    </div>
  </div>


  <div class="d-flex flex-column flex-1" style="flex-basis: 30em;">
    <div class="d-flex flex-row gap-5"><h3>{{ t.home.recently_played }}</h3> <a class="btn-primary ms-auto as-baseline">{{ t.home.see_all }}</a></div>
    {% if recently_played|length == 0 %}
      <div class="d-flex flex-column ai-center gap-2 p-2">
      <h1 style="font-size: 4em;" class="bi bi-egg-fried"></h1>
      <h4>no recently played games</h4>
      <small class="text-muted">maybe play a game?</small>
      </div>
    {% else %}
      <div class="d-grid gap-4" style="grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));">
      {% for game in recently_played %}
        {% include '/components/game_default.twig' with { game } %}
      {% endfor %}
      </div>
    {% endif %}
    
    
  <hr class="my-3">
  <div class="d-flex flex-column">
    <div class="d-flex flex-row gap-5"><h3>feed</h3></div>
    <div class="d-flex flex-column gap-3 mt-2">
    <div class="d-flex flex-row card card-dark-primary hide-if-no-text" id="result"></div>
      <form hx-post="/api/v1/feed/send?plaintext" hx-on::after-request="document.body.dispatchEvent(new Event('refresh'));" id="feedsend" hx-target="#result" hx-swap="innerHTML" class="d-flex flex-row gap-3">
        <div class="d-flex flex-row pillify shadow-1 round-4 flex-1">
          <input class="shadowless w-100 flex-1" placeholder="how are y'all?" name="feed_text" type="text">
          <button class="shadowless" type="submit" id="feedsendbtn"><h5 class="bi bi-send"></h5></button>
        </div>
        <div class="d-flex flex-row">
          {% include '/components/pagination.twig' with {params: req.query, max_btns: 4, page: feeds.info.page, queries: feeds.info.items, totalpages: feeds.info.total_pages, classes: "jc-center mx-auto"} %}
        </div>
      </form>
      <div hx-get="/api/v1/feed/posts?p={{page}}&html" id="feed_posts" hx-trigger="every 30s, refresh from:body" class="d-flex flex-column gap-4">
      {% if feeds.info.items|length != 0 %}
      {% for feed in feeds.info.items %}
        {% include '/components/feed_default.twig' with { feed } %}
      {% endfor %}
      {% else %}
      <div class="d-flex flex-column ai-center gap-2 p-2">
      <h1 style="font-size: 4em;" class="bi bi-egg-fried"></h1>
      <h4>no messages</h4>
      <small class="text-muted">you could be the first one to send a message!</small>
      </div>
      {% endif %}
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}