<!doctype html>{% import "_macros.twig" as utils %}
<html class="{% if cuser.what_membership == ENUM.membership.TIER_3 %}obc-bg{% endif %}" lang="en-US">
  <head>
{% include "head.twig" %}
  </head>
  <body center class="body-backdrop" style="box-sizing: border-box;">
    {% if not cuser.has_membership or cuser.settings.show_ads %}
      {% if showads ?? true %}
      <div id="ad-skyscraper-1" class="pos-absolute" style="left: 0; top: 50%; transform: translate(0, -50%);">
        <img class="ratio-skyscraper w-100 ms-8" style="max-width: 128px;" src="/assets/img/ad-skyscraper.png">
      </div>
      <div id="ad-skyscraper-2" class="pos-absolute" style="right: 0; top: 50%; transform: translate(0, -50%);">
        <img class="ratio-skyscraper w-100 me-8" style="max-width: 128px;" src="/assets/img/ad-skyscraper.png">
      </div>
      {% endif %}
    {% endif %}
    <div class="container round-4 pos-relative {% if containershowborder ?? false %}border-light-1{% endif %}" style="padding: 0; {% if enablecontainerbg ?? true %} background: #121212;{% endif %} {{ container_styles }}">
      {% if enablenavbar ?? true %}<nav class="border-light-b-1 d-flex flex-row flex-wrap gap-3 ai-center card card-dark-primary round-bx-0 py-2 p-3">
        <div class="navbar-hover d-flex flex-row flex-wrap ai-center gap-5 flex-grow-1 flex-shrink-1 me-2" style="flex-basis: 10em;">
        <a class="nav-logo" href="/"></a>
        <a href="/games/"><b style="font-size: 1.025em;">{{ t.navbar.games }}</b></a>
        <a href="/catalog/"><b style="font-size: 1.025em;">{{ t.navbar.catalog }}</b></a>
        <a href="/library/"><b style="font-size: 1.025em;">{{ t.navbar.develop }}</b></a>
        </div>

        <div class="pos-relative flex-autotofill searchbar-nav">
          <div class="d-flex flex-row pillify shadow-1 round-4" style="height: 2.4em;">
            <input type="search" class="shadowless flex-1" style="box-shadow: unset; width: 100%;" id="navbar-search" placeholder="search.." name="qnavbar" hx-get="/api/v1/searchbar" hx-trigger="keyup delay:250ms changed" hx-target="#navbar-search-results" hx-on:htmx:config-request="document.getElementById('navbar-search-results').classList.remove('d-none');">
            <button type="submit" class="shadowless border-light-1 px-4" style="border-left: none !important; background: #000;"><h5 class="bi bi-search text-muted"></h5></button>
          </div>
          <div id="navbar-search-results" class="d-flex flex-column gap-4 pos-absolute card black-bg mt-1 round-4 d-none" style="top: 100%; width: 100%; z-index: 5;"></div>
        </div>

        <div class="d-flex flex-row ai-center gap-6 ms-2 flex-1">
        {% if isloggedin %}
        <div class="d-flex flex-row ai-center ms-auto gap-2 cuser-money-div" title="{{ cuser.money }}">
          <img src="/assets/img/currency.svg" width=18>
          <b class="cuser-money-amount">{{ cuser.short_money }}</b>
        </div>
        <div class="pos-relative">
          <div class="d-flex flex-row ai-center gap-3 c-pointer" onclick="dropdownify(this, $('#userdropdown'));">
          <img class="round-4" src="{{ cuser.get_headshot() }}" height=32 width=32>
          <small class="bi bi-caret-down-fill"></small>
          </div>
          
          <div class="pos-absolute mt-2 right-0 dropdownify" id="userdropdown" style="width: 10em;"><div class="card px-0 d-flex flex-column gap-3">
          <a class="px-4 py-1" href="/users/{{ cuser.id }}/profile"><i class="bi bi-person"></i> {{ t.navbar.profile }}</a>
          <a class="px-4 py-1" href="/users/{{ cuser.id }}/inventory"><i class="bi bi-backpack"></i> {{ t.navbar.inventory }}</a>
          <a class="px-4 py-1" href="/settings/"><i class="bi bi-sliders"></i> {{ t.navbar.settings }}</a>
          {% if cuser.has_admin_panel %}<a class="px-4 py-1" href="{{ env.admin_panel.path }}/"><i class="bi bi-wrench-adjustable-circle-fill"></i> {{ t.navbar.admin }}</a>{% endif %}
          <hr nomargin>
          <a class="px-4 py-1" hx-post="/api/v1/user/logout?redirect=/"><i class="bi bi-box-arrow-left"></i> {{ t.navbar.logout }}</a>
          </div></div>
        </div>{% else %}<div class="navbar-hover d-flex flex-row ai-center ms-auto gap-5">
          <a class="mobile-hide" href="/?type=register">{{ t.navbar.register }}</a>
          <a href="/?type=login">{{ t.navbar.login }}</a>
          </div>{% endif %}
        </div>
      </nav>
    {% endif %}
      {% if (enablenavbar ?? true) and isloggedin %}<nav class="border-light-b-1 second-navbar-hover d-flex flex-row flex-wrap gap-6 ai-center card round-0" style="padding: 0.45em 0.35em;">
        <a href="/avatar/"><i class="bi bi-person-fill-gear"></i> <b>{{ t.navbar.avatar }}</b></a>
        <a href="/messages/"><i class="bi bi-envelope"></i> <b>{{ t.navbar.messages }}</b></a>
        <a href="/trade/"><i class="bi bi-arrow-left-right"></i> <b>{{ t.navbar.trade }}</b></a>
        <a href="/groups/"><i class="bi bi-collection"></i> <b>{{ t.navbar.groups }}</b></a>
        <a href="/users/"><i class="bi bi-people"></i> <b>{{ t.navbar.users }}</b></a>
        <a href="/dsc"><i class="bi bi-discord"></i> <b>discord</b></a>
        {% if cuser.is_mod or cuser.is_admin or cuser.is_owner %}<a href="{{ env.admin_panel.path }}/moderation/"><i class="bi bi-database"></i> <b>moderation <b class="red-bg d-inline-flex ai-center jc-center round-3" style="color: #fff; padding: 0px 4px;">0</b></b></a>{% endif %}
      </nav>
      {% if show_alert ?? false %}<center class="stroke-3-black py-1" style="vertical-align: center; background-image: repeating-linear-gradient(
    -45deg,
    #000,
    #000 20px,
    #ffb101 20px,
    #ffb101 40px
    );"></center>{% endif %}{% endif %}
      <div class="{% if paddingforcontent ?? true %}m-3{% endif %}"{% if content_styles %} style="{{ content_styles }}"{% endif %}>{% block content %}{% endblock %}</div>
      {% if enablefooter ?? true %}<footer class="d-flex flex-row flex-wrap gap-3 card round-tx-0 shadowless py-3 px-4 mt-2 text-exextramuted" style="border-top: 1px solid #202020; background: #121212;">
        <div class="pos-relative">
          <select class="btn btn-transparent pos-absolute" style="color: #aaaaaa; width: 100%; height: 100%; opacity: 0; z-index: 5; -webkit-border-radius: 55px;" onchange="setlang(this.value);">
          {% for lang in translations %}
            <option {% if req.cookies.locale == lang._locale %}selected{% endif %} value='{{ lang._locale }}'>{{ lang._lang }} ({{ transcompletion(lang._locale) }}%) [{{ lang._author }}]</option>
          {% endfor %}
          </select>
          <div class="d-flex flex-row" style="justify-content: center; align-items: center; gap: 0.25em; font-size: 1.1em;">
            <i style="font-size: 1.25em;" class="bi bi-globe"></i>
            <i class="bi bi-chevron-up"></i>
          </div>
        </div>
        <div class="d-flex flex-column mb-1">
          <small style="font-size: 0.95em;">testcore-labs <a style="cursor: pointer;" onclick="runhell()">@</a>{{ 'now'|date('Y') }}</small>
          <div class="d-flex flex-row" style="font-size: 0.9em; line-height: 0.5em;"><a href="/tos"><small class="text-extramuted">>{{ t.footer.terms_of_service }}</small></a></div>
        </div>
      </footer>{% endif %}
    </div>

    <div x-data 
    @popup-new.window="
    const args = $event.detail; 
    let time = Number(args.time);
    time = Math.floor(time);
    let new_popup = template.clone($refs[args.type ?? 'info'], true); 
    new_popup.querySelector('[x-ref=msg]').textContent = args.msg;
    new_popup.querySelector('[x-ref=title]').textContent = args.title;
    new_popup.querySelector('[x-ref=time]').textContent = utils.format_duration(time);
    let time_interval = setInterval(() => {
      time -= 1;
      new_popup.querySelector('[x-ref=time]').textContent = utils.format_duration(time);
      if(time === 0 || time < 0) {
        new_popup.remove();
        clearInterval(time_interval);
      }
    }, 1000);

    $refs.toasts.appendChild(new_popup);"
    class="pos-absolute" id="toasts" style="bottom: 0; left: 0; margin: 1em; z-index: 3;">
      <template x-ref="info">
      <div x-data @close="$el.classList.add('d-none')" class="d-flex flex-column round-4 overflow-hidden border-light-1" style="min-width: 10em; max-width: 25em; backdrop-filter: blur(0.35em)">
        <div class="d-flex flex-row ai-center gap-3 p-3 border-light-b-1" style="background: rgba(35,35,35,0.5);">
          <i class="bi bi-info-circle"></i>
          <span x-ref="title">-</span>
          <small x-ref="time" class="ms-auto ps-3 text-muted">0:00</small>
          <span @click="$dispatch('close')" class="bi bi-x-lg"></span>
        </div>
        <div x-ref="msg" class="p-3" style="background: rgba(0,0,0,0.5);">-</div>
      </div>
      </template>
      <template x-ref="success">
      <div x-data @close="$el.classList.add('d-none')" class="d-flex flex-column round-4 overflow-hidden border-light-1" style="min-width: 10em; max-width: 25em; backdrop-filter: blur(0.35em)">
        <div class="d-flex flex-row ai-center gap-3 p-3 border-light-b-1" style="background: rgba(1, 59, 2,0.5);">
          <i class="bi bi-check-circle"></i>
          <span x-ref="title">-</span>
          <small x-ref="time" class="ms-auto ps-3 text-muted">0:00</small>
          <span @click="$dispatch('close')" class="bi bi-x-lg"></span>
        </div>  
        <div x-ref="msg" class="p-3" style="background: rgba(0,0,0,0.5);">-</div>
      </div>
      </template>
      <template x-ref="error">
      <div x-data @close="$el.classList.add('d-none')" class="d-flex flex-column round-4 overflow-hidden border-light-1" style="min-width: 10em; max-width: 20em; backdrop-filter: blur(0.35em)">
        <div class="d-flex flex-row ai-center gap-3 p-3 border-light-b-1" style="background: rgba(74, 2, 13,0.5);">
          <i class="bi bi-x-circle"></i>
          <span x-ref="title">-</span>
          <small x-ref="time" class="ms-auto ps-3 text-muted">0:00</small>
          <span @click="$dispatch('close')" class="bi bi-x-lg"></span>
        </div>
        <div x-ref="msg" class="p-3" style="background: rgba(0, 0, 0,0.5);">-</div>
      </div>
      </template>
      <div x-ref="toasts" class="d-flex flex-column gap-3"></div>
    </div>

    {% if isloggedin %}<div class="d-flex flex-column pos-fixed me-3" style="bottom: 0; right: 0; max-width: 20em; width: 100%;">
      {% include "chat/index.twig" %}
    </div>{% endif %}
    <div class="d-none pos-absolute round-4 p-3" style="top: 50%; left: 50%; transform: translate(-50%, -50%); background: rgba(0,0,0, 0.33); backdrop-filter: blur(1em);" id="cmd_window">
    nothing here.. (close me by typing --cmd again)
    </div>
    {% block body %}{% endblock %}
  </body>
</html>