<!doctype html>{% import "_macros.twig" as utils %}
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/core.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/png" href="/assets/img/logo-t_64.png">
    <meta property="og:site_name" content="{{ env["name"] }}">
    <meta property="og:image" content="/assets/img/logo-t_64.png" />
    <meta content="{{ title ?? pagename }}" property="og:title">
    <meta content="nothing.." property="og:description">
    <meta name="theme-color" content="#650fde">
    <script src="/assets/js/core.js"></script>
    <script src="/assets/js/htmx.min.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <title>{{ title ?? pagename }} | {{ env['app_name'] }}</title>
  </head>
  <body class="p-4" style="box-sizing: border-box;">
    <div class="container round-4" style="padding: 0;{% if enablecontainerbg ?? true %} background: #0c0c0c;{% endif %} {{ container_styles }}">
      {% if enablenavbar ?? true %}<nav class="d-flex flex-row flex-row-to-col flex-wrap gap-3 ai-center card card-dark-primary round-bx-0 py-2 p-3">
        <div class="navbar-hover d-flex flex-row flex-wrap ai-center gap-5 flex-grow-1 flex-shrink-1 me-2" style="flex-basis: 10em;">
        <a class="nav-logo" href="/"></a>
        <a href="/games/"><b style="font-size: 1.025em;">games</b></a>
        <a href="/catalog/"><b style="font-size: 1.025em;">catalog</b></a>
        <a href="/library/"><b style="font-size: 1.025em;">library</b></a>
        </div>

        <div class="pos-relative flex-autotofill order-nonetoend" style="flex-basis: 20em; flex-shrink: 1;">
          <div class="d-flex flex-row pillify shadow-1 round-4" style="height: 2.4em;">
            <input type="search" class="shadowless flex-1" style="box-shadow: unset; width: 100%;" id="navbar-search" placeholder="search.." name="qnavbar" hx-get="/api/v1/searchbar" hx-trigger="keyup delay:250ms changed" hx-target="#navbar-search-results" hx-on:htmx:config-request="document.getElementById('navbar-search-results').classList.remove('d-none');">
            <button type="submit" class="shadowless border-light-1 px-4" style="background: #000;"><h5 class="bi bi-search text-muted"></h5></button>
          </div>
          <div id="navbar-search-results" class="d-flex flex-column gap-4 pos-absolute card black-bg mt-1 round-4 d-none" style="top: 100%; width: 100%; z-index: 5;"></div>
        </div>

        <div class="d-flex flex-row ai-center gap-6 ms-2 flex-1">
        {% if isloggedin %}
        <div class="d-flex flex-row ai-center ms-auto gap-1">
          <img src="/assets/img/currency.svg" width=21>
          <b title="32">{{ cuser.money }}</b>
        </div>
        <div class="pos-relative">
          <div class="d-flex flex-row ai-center gap-3 c-pointer" onclick="dropdownify(this, $('#userdropdown'));">
          <img class="round-4" src="/assets/img/placeholder_avatar-closeup.png" width=32>
          <small class="bi bi-caret-down-fill"></small>
          </div>
          
          <div class="pos-absolute mt-2 right-0 dropdownify" id="userdropdown" style="width: 9em;"><div class="card px-0 d-flex flex-column gap-3">
          <a class="px-4 py-1" href="/profile"><i class="bi bi-person"></i> profile</a>
          <a class="px-4 py-1" href="/inventory"><i class="bi bi-backpack"></i> inventory</a>
          <a class="px-4 py-1" href="/settings/"><i class="bi bi-sliders"></i> settings</a>
          {% if cuser.is_mod or cuser.is_admin or cuser.is_owner %}<a class="px-4 py-1" href="{{ env.admin_panel.path }}/"><i class="bi bi-wrench-adjustable-circle-fill"></i> admin</a>{% endif %}
          <hr nomargin>
          <a class="px-4 py-1" hx-post="/api/v1/user/logout?redirect=/"><i class="bi bi-box-arrow-left"></i> logout</a>
          </div></div>
        </div>{% else %}<div class="navbar-hover d-flex flex-row ai-center ms-auto gap-5">
          <a href="/?type=register">register</a>
          <a href="/?type=login">login</a>
          </div>{% endif %}
        </div>
      </nav>
    {% endif %}
      {% if (enablenavbar ?? true) and isloggedin %}<nav class="second-navbar-hover d-flex flex-row flex-row-to-col flex-wrap gap-6 ai-center card round-0" style="padding: 0.45em 0.35em;">
        <a href="/avatar/"><i class="bi bi-person-fill-gear"></i> <b>avatar</b></a>
        <a href="/messages/"><i class="bi bi-envelope"></i> <b>messages</b></a>
        <a href="/trade/"><i class="bi bi-arrow-left-right"></i> <b>trade</b></a>
        <a href="/groups/"><i class="bi bi-collection"></i> <b>groups</b></a>
        <a href="/users/"><i class="bi bi-people"></i> <b>users</b></a>
        <a href="/dsc"><i class="bi bi-discord"></i> <b>discord</b></a>
        {% if cuser.is_mod or cuser.is_admin or cuser.is_owner %}<a href="{{ env.admin_panel.path }}/moderation/"><i class="bi bi-database"></i> <b>moderation <b class="red-bg d-inline-flex ai-center jc-center round-3" style="color: #fff; padding: 0px 4px;">0</b></b></a>{% endif %}
      </nav>
      <center class="stroke-3-black py-1" style="vertical-align: center; background-image: repeating-linear-gradient(
    -45deg,
    #000,
    #000 20px,
    #ffb101 20px,
    #ffb101 40px
    );">site under construction!!!</center>{% endif %}
      <div class="{% if paddingforcontent ?? true %}m-3{% endif %}"{% if content_styles %} style="{{ content_styles }}"{% endif %}>{% block content %}{% endblock %}</div>
      {% if enablefooter ?? true %}<footer class="d-flex flex-row flex-wrap gap-3 card border-dark-t-1 round-tx-0 shadowless py-3 px-4 mt-2 text-exextramuted" style="border-top: 1px solid #202020;">
        <div class="pos-relative">
          <select class="btn btn-transparent pos-absolute" style="color: #aaaaaa; width: 100%; height: 100%; opacity: 0; z-index: 5; -webkit-border-radius: 55px;" onchange="setlang(this.value);">
          {% for lang in translations %}
            <option {% if req.cookies.locale == lang._locale %}selected{% endif %} value='{{ lang._locale }}'>{{ lang._lang }} ({{ transcompletion(lang._locale) }}%) [{{ lang._author }}]</option>
          {% endfor %}
          </select>
          <div class="d-flex flex-row" style="justify-content: center; align-items: center; gap: 0.25em; font-size: 1.1em;">
            <i style="font-size: 1.25em;" class="bi bi-globe"></i>
            <i class="bi bi-chevron-up"></i>
          </div>
        </div>
        <div class="d-flex flex-column mb-1">
          <small style="font-size: 0.95em;">testcore-labs <a style="cursor: pointer;" onclick="runhell()">@</a>{{ 'now'|date('Y') }}</small>
          <div class="d-flex flex-row" style="font-size: 0.9em; line-height: 0.5em;"><a href="/tos"><small class="text-extramuted">>terms of service</small></a></div>
        </div>
      </footer>{% endif %}
    </div>

    <div class="d-none pos-absolute round-4 p-3" style="top: 50; left: 50; transform: translate(-50%, -50%); background: rgba(0,0,0, 0.33); backdrop-filter: blur(1em);" id="cmd_window">
    BOO
    </div>
    {% block body %}{% endblock %}
  </body>
</html>